body {
    background-color: rgb(105, 26, 26);
    color: white;
    font-family: "Roboto", sans-serif;
}

table {
    margin: auto;
    width: auto;
    height: auto;
    background-color: black;
    border-spacing: 1px;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: grey;
}

.cell:hover {
    background-color: rgb(107, 106, 106);
    cursor: pointer;
}

.hide {
    background-color: gray;
}

.remote {
    margin: auto;
    text-align: center;
    width: 400px;
    height: 300px;
}

.remote .timer {
    width: 200px;
    margin: auto;
    margin-left: 106px;
    color: rgb(0, 0, 0);
}

.remote button {
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    outline: none;
    background-color: grey;
    margin-top: 50px;
}

.remote button:hover {
    cursor: pointer;
    background-color: rgb(107, 106, 106);
}

.shown {
    background-color: rgb(107, 106, 106);
}

.title {
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: black;
    font-weight: bolder 2px;
    margin-top: 20px;
}

.smiley {
    font-size: 60px;
    cursor: pointer;
    margin: 10px;
    margin-left: 28px;
}